*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 60%;
    margin: 30px auto;
    border: 1px solid gray;
    padding: 10px 30px 10px 10px;
}

.form{
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.title{
    margin-bottom: 10px;
}

.trai{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;

}

.phai{
    width: 50%;
    min-height: 200px;

}

.form-control input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid gray;
}

.phai textarea{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    vertical-align: middle;
    border: 0.5px solid gray;
}

footer button{
    min-width: 80px;
    height: 36px;
    border-radius: 4px;
}

.btn{
    padding: 10px;
    width: 100%;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn-right{
    width: 50%;
}

.submit{
    display: flex;
    justify-content: flex-end;
}