*{
    margin: 0;
    padding: 0;
}

.to{
    display: flex;
    flex-wrap: wrap;
}

.item{
    margin-top: 15px;
    background-color: yellowgreen;
    height: 50px;
    text-align: center;
    color: white;
}

.a{
    flex: 30%;
}

.b{
    flex: 100%;
}

.c{
    flex: 90%;
}

.d{
    flex: 10%;
}

.e{
    flex: 50%;
}

.f{
    flex: 60%;
}

.g{
    flex: 40%;
}

.h{
    flex: 80%;
}